Assets/Firebase/Plugins/x86_64/FirebaseCppApp-13_4_0.bundle
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-13_4_0.so
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-13_4_0.so.meta
/Library
/Logs
/Temp
/Logs
